//tr1.jfrog.io/artifactory/api/npm/npm/:_authToken=eyJ2ZXIiOiIyIiwidHlwIjoiSldUIiwiYWxnIjoiUlMyNTYiLCJraWQiOiJfRG02TWFRWU1PbnpEMWQ2anlhOG9RUUotQjc5YmN1cF82Nmw2WEV2dkhnIn0.eyJzdWIiOiJqZnJ0QDAxZGMyN20ybWFrd2JnMTFhOGs1c3IwNXoyXC91c2Vyc1wvNjA3ODA2NSIsInNjcCI6Im1lbWJlci1vZi1ncm91cHM6KiIsImF1ZCI6ImpmcnRAMDFkYzI3bTJtYWt3YmcxMWE4azVzcjA1ejIiLCJpc3MiOiJqZnJ0QDAxZGMyN20ybWFrd2JnMTFhOGs1c3IwNXoyXC91c2Vyc1wvNjA3ODA2NSIsImlhdCI6MTY1ODQ5NDg4MywianRpIjoiMTdjNTgyOGUtOTU5NC00Y2VkLWE3MmMtMDVlMGViOWE4NWM1In0.dPvhxzROVzC4nSacd8EJ9t_AbnRPiXWjVh2UPnYv8-GKJwoO3JphLVolEECZiwX9kYBHy9MQ-P1RC8h3OAgMEc4GbH5iEWAn_5s4sDBESJAB7LuX38MSWPl5Rh88g-fcXpQvsmujx0cAarW8tbgLZbhodbov6D1wM_LOGg6jbBdl0zKVveEzrVNWpgjIJimp1QY4r8u0SoZqz80hNjlfyrwDgIdi6hsOLXenUiRwi2Kzq1L60MzzzB3rAIDOnIzbHbXH0_Auu6kMpWN-iW1iMNmp6sE6rhwcqG9wo0CNblFdjnijaK4GKNXAwgWt4ylyAK5IYrKC9F2KEOAiwqg43g
registry=https://tr1.jfrog.io/artifactory/api/npm/npm/
